In [1]:

import sqlite3
import pandas as pd

In [11]:
db1_path = '../Data/output/moviewreviews.db'
db2_path = '../Data/moviereviews.db'

conn1 = sqlite3.connect(db1_path)
conn2 = sqlite3.connect(db2_path)

df1 = pd.read_sql_query("SELECT * from moviereviews", conn1)
df2 = pd.read_sql_query("SELECT * from moviereviews", conn2)

In [17]:
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()

def total_rows(cursor, table_name, print_out=False):
    """ Returns the total number of rows in the database """
    cursor.execute('SELECT COUNT(*) FROM {}'.format(table_name))
    count = cursor.fetchall()
    if print_out:
        print('\nTotal rows: {}'.format(count[0][0]))
    return count[0][0]

print("Meine Tabelle: "+ str(total_rows(cursor1, "moviereviews")))
print("Syds Tabelle: "+ str(total_rows(cursor2, "moviereviews")))

Meine Tabelle: 198967
Syds Tabelle: 168351

In [38]:
# print(df1.info())
# sum null per rows
df1['NULLS'] = df1.isnull().sum(1)
# delete all without reviewbody and without reviewrating
df1 = df1[df1.REVIEWBODY.notnull()&df1.REVIEWRATING.notnull()]
# delete all with NUll-value anywhere in row
df1 = df1[~df1["REVIEWBODY"].str.contains("null")]
df1 = df1[~df1["REVIEWBODY"].str.contains("Null")]
df1 = df1[~df1["REVIEWBODY"].str.contains("None")]
df1 = df1[~df1["REVIEWRATING"].str.contains("null")]
df1 = df1[~df1["REVIEWRATING"].str.contains("Null")]
df1 = df1[~df1["REVIEWRATING"].str.contains("None")]
df1.drop_duplicates(subset='REVIEWBODY', keep="last")
# count how many without null
# df3 = df1.loc[df1['NULLS'] == "0"]
# df1.head()
df1.info()
# 38,603 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38603 entries, 106197 to 198965
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NODE          38603 non-null  object
 1   URL           38603 non-null  object
 2   REVIEWBODY    38603 non-null  object
 3   RATING        38603 non-null  object
 4   REVIEWRATING  38603 non-null  object
 5   BESTRATING    27029 non-null  object
 6   WORSTRATING   27005 non-null  object
 7   NULLS         38603 non-null  int64
dtypes: int64(1), object(7)
memory usage: 2.7+ MB

In [39]:
# print(df2.info())
df2 = df2[df2.REVIEWBODY.notnull()&df2.REVIEWRATING.notnull()]
df2 = df2[~df2["REVIEWBODY"].str.contains("null")]
df2 = df2[~df2["REVIEWBODY"].str.contains("Null")]
df2 = df2[~df2["REVIEWBODY"].str.contains("None")]
df2 = df2[~df2["REVIEWRATING"].str.contains("null")]
df2 = df2[~df2["REVIEWRATING"].str.contains("Null")]
df2 = df2[~df2["REVIEWRATING"].str.contains("None")]
df2.drop_duplicates(subset='REVIEWBODY', keep="last")
df2.info()
# df2.head()
# 23,401 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23401 entries, 0 to 168347
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NODE          23401 non-null  object
 1   URL           23401 non-null  object
 2   REVIEWBODY    23401 non-null  object
 3   RATING        23401 non-null  object
 4   REVIEWRATING  23401 non-null  object
 5   BESTRATING    23310 non-null  object
 6   WORSTRATING   23286 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB